<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce engine</title>
  <%= stylesheet_link_tag    "ecommerce/engine/application", media: "all" %>
  <%= javascript_include_tag "ecommerce/engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
